In [722]:
from sklearn import tree
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [723]:
import seaborn as sb

In [724]:
df = pd.read_csv('app_alumno.csv')

C:\Users\hilto\AppData\Local\Temp\ipykernel_15796\3193013562.py:1: DtypeWarning: Columns (2,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('app_alumno.csv')

In [725]:
df.describe()

,id,ponderador_lengua,ponderador_matematica,ponderador_ciencias_naturales,ponderador_ciencias_sociales,escuela_id,nivel_id,year_id
count,1.048575e+06,9.591080e+05,9.767360e+05,1.019555e+06,1.027320e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,5.242880e+05,1.358340e+07,1.312151e+07,6.445226e+06,6.241860e+06,7.420359e+09,2.416415e+00,2.014934e+03
std,3.026977e+05,1.287965e+07,1.180998e+07,1.235744e+07,1.230465e+07,7.742966e+09,4.929642e-01,1.435797e+00
min,1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,6.000030e+07,2.000000e+00,2.013000e+03
25%,2.621445e+05,1.027723e+07,1.015207e+07,-1.000000e+00,-1.000000e+00,1.527970e+09,2.000000e+00,2.013000e+03
50%,5.242880e+05,1.296045e+07,1.279296e+07,-1.000000e+00,-1.000000e+00,3.380147e+09,2.000000e+00,2.016000e+03
75%,7.864315e+05,1.528762e+07,1.585059e+07,1.375857e+07,1.326101e+07,1.250075e+10,3.000000e+00,2.016000e+03
max,1.048575e+06,9.970589e+07,9.910502e+07,9.991204e+07,9.877273e+07,3.440792e+10,3.000000e+00,2.016000e+03

In [726]:
df.head(15)

,id,sexo,indice_socioeconomico,nivel_desemp_matematica,nivel_desemp_lengua,nivel_desemp_ciencias_sociales,nivel_desemp_ciencias_naturales,ponderador_lengua,ponderador_matematica,ponderador_ciencias_naturales,...,tiene_smartphone,tiene_consola,tiene_smarttv,tiene_cable,tiene_internet,repeticion_primaria,repeticion_secundaria,escuela_id,nivel_id,year_id
0,372547,nc,nc,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,nc,nc,nc,nc,nc,nc,nc,120618006,2,2016
1,372580,f,medio,nc,avanzado,NaN,NaN,15686325.0,NaN,-1.0,...,no,no,si,si,si,no,nc,220059411,2,2016
2,372581,nc,nc,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,nc,nc,nc,nc,nc,nc,nc,220099011,2,2016
3,372582,m,medio,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,no,no,si,si,si,no,nc,220168311,2,2016
4,372593,m,nc,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,nc,nc,nc,nc,nc,no,nc,222762111,2,2016
5,372601,f,alto,nc,avanzado,NaN,NaN,11619838.0,NaN,-1.0,...,no,si,no,si,si,no,nc,240865212,2,2016
6,372611,m,alto,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,si,si,si,no,si,no,nc,260107913,2,2016
7,372617,nc,nc,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,nc,nc,nc,nc,nc,nc,nc,260950313,2,2016
8,372637,f,medio,nc,por_debajo_del_basico,NaN,NaN,13068876.0,NaN,-1.0,...,no,no,no,no,no,no,nc,281768214,2,2016
9,372644,f,medio,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,no,no,si,si,si,no,nc,300276015,2,2016
10,372655,nc,medio,nc,satisfactorio,NaN,NaN,37335227.0,NaN,-1.0,...,no,no,no,no,si,no,nc,302355015,2,2016
11,372660,f,alto,nc,avanzado,NaN,NaN,11679952.0,NaN,-1.0,...,si,no,si,si,si,no,nc,320699216,2,2016
12,372684,nc,nc,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,si,si,si,si,si,nc,nc,342014517,2,2016
13,372692,nc,nc,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,nc,nc,nc,nc,nc,nc,nc,360871218,2,2016
14,372710,nc,nc,nc,nc,NaN,NaN,NaN,NaN,-1.0,...,si,si,si,si,si,nc,nc,381126719,2,2016

In [727]:
df.tail()

,id,sexo,indice_socioeconomico,nivel_desemp_matematica,nivel_desemp_lengua,nivel_desemp_ciencias_sociales,nivel_desemp_ciencias_naturales,ponderador_lengua,ponderador_matematica,ponderador_ciencias_naturales,...,tiene_smartphone,tiene_consola,tiene_smarttv,tiene_cable,tiene_internet,repeticion_primaria,repeticion_secundaria,escuela_id,nivel_id,year_id
1048570,372490,nc,NaN,nc,satisfactorio,avanzado,satisfactorio,13810811.0,-1.0,14685918.0,...,nc,nc,nc,nc,nc,nc,nc,27068807733,3,2013
1048571,372503,nc,NaN,nc,por_debajo_del_basico,por_debajo_del_basico,basico,16884559.0,-1.0,18579443.0,...,nc,nc,nc,nc,nc,nc,nc,27906066731,3,2013
1048572,372505,nc,NaN,nc,por_debajo_del_basico,nc,nc,13071498.0,-1.0,-1.0,...,nc,nc,nc,nc,nc,nc,nc,28383181233,3,2013
1048573,372511,nc,NaN,nc,satisfactorio,nc,nc,16884559.0,-1.0,-1.0,...,nc,nc,nc,nc,nc,nc,nc,28802867232,3,2013
1048574,372519,nc,NaN,nc,satisfactorio,por_debajo_del_basico,por_debajo_del_basico,13071498.0,-1.0,13933698.0,...,nc,nc,nc,nc,nc,nc,nc,29244413234,3,2013

In [728]:
df.drop(['id','sexo', 'nivel_desemp_matematica','nivel_desemp_lengua','nivel_desemp_ciencias_sociales','nivel_desemp_ciencias_naturales','escuela_id','nivel_id','year_id'], axis='columns', inplace=True)

In [729]:
## Elimino las filas con el valor de no contesta

In [730]:
valor_a_eliminar = 'nc'

In [731]:
df = df.drop(df[df.values == valor_a_eliminar].index)

In [732]:
df.describe()

,ponderador_lengua,ponderador_matematica,ponderador_ciencias_naturales,ponderador_ciencias_sociales
count,7.901000e+03,8.160000e+03,7.637000e+03,7.983000e+03
mean,1.365120e+07,1.264564e+07,1.391279e+07,1.312797e+07
std,1.282406e+07,1.029948e+07,1.108285e+07,1.069096e+07
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.018872e+07,1.008834e+07,1.037718e+07,1.026119e+07
50%,1.191022e+07,1.197619e+07,1.240713e+07,1.211469e+07
75%,1.590190e+07,1.592683e+07,1.644164e+07,1.629795e+07
max,9.767036e+07,9.229690e+07,9.835092e+07,8.897400e+07

In [733]:
df = df.dropna()

In [734]:
df.indice_socioeconomico =df.indice_socioeconomico.map({'alto':0,'bajo':1,'medio':2})

In [735]:
df.tiene_notebook =df.tiene_notebook.map({'si':0,'no':1})

In [736]:
df.tiene_pc =df.tiene_pc.map({'si':0,'no':1})

In [737]:
df.tiene_tablet =df.tiene_tablet.map({'si':0,'no':1})

In [738]:
df.tiene_celular =df.tiene_celular.map({'si':0,'no':1})

In [739]:
df.tiene_smartphone =df.tiene_smartphone.map({'si':0,'no':1})

In [740]:
df.tiene_consola =df.tiene_consola.map({'si':0,'no':1})

In [741]:
df.tiene_smarttv =df.tiene_smarttv.map({'si':0,'no':1})

In [742]:
df.tiene_cable =df.tiene_cable.map({'si':0,'no':1})

In [743]:
df.tiene_internet =df.tiene_internet.map({'si':0,'no':1})

In [744]:
df.repeticion_primaria =df.repeticion_primaria.map({'una_vez':0,'dos_veces':1,'tres_veces_o_mas':2,'no':3})

In [745]:
df.repeticion_secundaria =df.repeticion_secundaria.map({'una_vez':0,'dos_veces':1,'tres_veces_o_mas':2,'no':3})

In [746]:
data_x = df.drop('repeticion_secundaria', axis=1)
data_y = df.repeticion_secundaria

In [747]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.1)

In [748]:
decission_tree = tree.DecisionTreeClassifier()

In [749]:
decission_tree.fit(train_x, train_y)

DecisionTreeClassifier()

In [750]:
df.describe()

,indice_socioeconomico,ponderador_lengua,ponderador_matematica,ponderador_ciencias_naturales,ponderador_ciencias_sociales,tiene_notebook,tiene_pc,tiene_tablet,tiene_celular,tiene_smartphone,tiene_consola,tiene_smarttv,tiene_cable,tiene_internet,repeticion_primaria,repeticion_secundaria
count,6387.000000,6.387000e+03,6.387000e+03,6.387000e+03,6.387000e+03,6387.000000,6387.000000,6387.000000,6387.000000,6387.000000,6387.000000,6387.000000,6387.000000,6387.000000,6387.000000,6387.000000
mean,1.450133,1.275851e+07,1.184815e+07,1.326880e+07,1.238272e+07,0.259746,0.371066,0.650697,0.123219,0.600282,0.620009,0.486927,0.348834,0.252231,2.822295,2.579145
std,0.797238,1.145383e+07,9.497329e+06,1.006893e+07,9.969980e+06,0.438530,0.483128,0.476787,0.328714,0.489879,0.485422,0.499868,0.476639,0.434327,0.697778,1.000841
min,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.011767e+07,1.004593e+07,1.030098e+07,1.022637e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
50%,2.000000,1.178562e+07,1.173553e+07,1.209267e+07,1.175928e+07,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,3.000000,3.000000
75%,2.000000,1.540802e+07,1.512500e+07,1.597413e+07,1.560333e+07,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,3.000000
max,2.000000,9.767036e+07,9.229690e+07,9.066093e+07,8.897400e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,3.000000

In [751]:
print(f'Score: {round(decission_tree.score(test_x, test_y), 4) * 100.0}%')

Score: 72.3%

In [752]:
df.columns.tolist()

['indice_socioeconomico',
 'ponderador_lengua',
 'ponderador_matematica',
 'ponderador_ciencias_naturales',
 'ponderador_ciencias_sociales',
 'tiene_notebook',
 'tiene_pc',
 'tiene_tablet',
 'tiene_celular',
 'tiene_smartphone',
 'tiene_consola',
 'tiene_smarttv',
 'tiene_cable',
 'tiene_internet',
 'repeticion_primaria',
 'repeticion_secundaria']